body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScqWnpVuf0wEGWGwFoqmK_DFV4MKwSQjtTsZGkPPbPTVzEBxPPohd15CAI2sq2l1NbOKA&usqp=CAU");
    background-repeat: repeat;
  }

  div{
    font-family: Arial, Helvetica, sans-serif;
  }

